<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
          <label for="username">Username</label>
          <input type="text" formControlName="username"  [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
          <div *ngIf="submitted && f['username'].errors">
              <div *ngIf="f['username'].errors['required']">Username is required</div>
          </div>
      </div>
      <div>
          <label for="password">Password</label>
          <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
          <div *ngIf="submitted && f['password'].errors">
              <div *ngIf="f['password'].errors['required']">Password is required</div>
          </div>
      </div>
      <button [disabled]="loading">
          <span *ngIf="loading"></span>
          Login
      </button>
      <div *ngIf="error">{{error}}</div>
  </form>
</div>