/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h2 {
  font-size: 32px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

a, a:active, a:visited {
  color: rgb(4, 155, 209);
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: rgb(3, 133, 181);
  }

  mat-icon {
    font-size: 16px !important;
    width: 16px !important;
    height: 16px !important;
  }
}

.action-centre {
  margin: 2rem 0;
  padding: 2rem 1rem;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 10px;
}

.data-table {
  width: 100%;
  overflow: auto;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 10px;
  font-size: 14px;

  .full-width-table {
    width: 100%;
  }

  a {
    font-size: 14px;
  }
}