:host {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    .logout {
      position: absolute;
      right: 1rem;
    }
  }

  .main-panel {    
    width: 100%;
    max-height: calc(100% - 64px);
    display: flex;
    justify-content: center;

    .container {
      box-sizing: border-box;
      margin-top: 2rem;
      width: 75%;
      padding: 3rem;
    }
  }
}
